{% extends 'base_outras.html' %}

{% block title %}Paw Pals - Recuperar Senha{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4 text-center">Recuperar senha</h2>

        <p>Digite seu e-mail abaixo. Enviaremos instruções para redefinir sua senha.</p>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_email" class="form-label">E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
