{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Paw Pals - Cadastro{% endblock %}

{% block content %}
<div class="row justify-content-center mt-3 mb-3">

    <h2 class="text-center"> 🔑 Criar Nova Conta</h2>
    <p class="text-center">Preencha os dados abaixo para cadastrar um novo usuário.</p>  
    
    <!-- Mensagens de alerta -->
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-4">

                <div class="text-end mt-3">
                    <a href="{% url 'listar_usuarios' %}" class="btn btn-info">📋 Listar Usuários</a>
                </div>

                <form method="post" novalidate>
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="id_username" class="form-label">Usuário</label>
                        {{ form.username|add_class:"form-control" }}
                        {% if form.username.errors %}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_email" class="form-label">E-mail</label>
                        {{ form.email|add_class:"form-control" }}
                        {% if form.email.errors %}
                            <div class="text-danger">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_nivel" class="form-label">Nível</label>
                        <div class="input-group">
                            {{ form.nivel|add_class:"form-control" }}
                        </div>
                        {% if form.nivel.errors %}
                            <div class="text-danger">
                                {{ form.nivel.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Senha</label>
                        {{ form.password1|add_class:"form-control" }}
                        {% if form.password1.errors %}
                            <div class="text-danger">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-5">
                        <label for="id_password2" class="form-label">Confirmar senha</label>
                        {{ form.password2|add_class:"form-control" }}
                        {% if form.password2.errors %}
                            <div class="text-danger">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="submit" class="btn btn-primary w-30 mt-3">Cadastrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
